<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.pre.blog.mapper.BlogDownloadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xd.pre.blog.domain.BlogDownload">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="title" property="title" />
        <result column="descriptions" property="descriptions" />
        <result column="size" property="size" />
        <result column="type" property="type" />
        <result column="downloads" property="downloads" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

</mapper>
