<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.pre.blog.mapper.BlogArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xd.pre.blog.domain.BlogArticle">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="abstract" property="abstract" />
        <result column="content" property="content" />
        <result column="cover" property="cover" />
        <result column="views" property="views" />
        <result column="discuss" property="discuss" />
        <result column="open_discuss" property="openDiscuss" />
        <result column="type" property="type" />
        <result column="istop" property="istop" />
        <result column="sort" property="sort" />
        <result column="is_view" property="isView" />
        <result column="category_id" property="categoryId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

</mapper>
